<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='laptop_flavicon.ico') }}"> <!--This is the little icon that appears
     with a tab on our site-->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/main.css')}}"> <!--Links the CSS styling to the page -->
    <!-- Jinja blocks allow other pages to "build" on this boilerplate code much like a giant HTML variable, allowing
    us to change something on just this page and apply it to any other page on the site -->
    {% block title %}{% endblock %}

</head>
<body>


    {% block navbar %}
    {% endblock %}


    {% block body %}
    {% endblock %}

</body>
</html>


<script>
    {% block script %}
    {% endblock %}
</script>