{% extends 'base.html' %}

{% block title %}
<title>JDGroup - {{ current_page }}</title>

{% endblock %}


{% block navbar %}

<audio autoplay>
       <source src = "/static/audio/{{ song }}" type = "audio/mp3">
</audio>
<nav>
    <ul class="navbar">
    {% for page in pages %}
    <li>
        {% if page != current_page %}
            <a href = "{{ pages[page] }}">{{ page }}</a>
        {% else %}
            <a class = "currentNav" href = "{{ pages[page] }}">{{ page }}</a>
        {% endif %}
    </li>
    {% endfor %}
    <li>
        {% if 'user' in session %}

            {% if current_page == "Profile" %}
            <a class="currentNav" href = "/profile/">{{ session['user'] }}</a>
            {% else %}
            <a href = "/profile/">{{ session['user'] }}</a>
            {% endif %}

        {% else %}

            {% if current_page == "Login" %}
            <a class="currentNav" href = "/login/">Login</a>
            {% else %}
             <a href = "/login/">Login</a>
            {% endif %}

        {% endif %}
    </li>
    </ul>
</nav>
{% endblock %}

