{% extends 'base_with_nav.html' %}

{% block body %}
<div class="backingBox">
<h1>Login</h1>
<form class="login" method="post" action="/login/">

    <label for="username">Username</label>
    <input name="username" id="username" type="text"><br>
    <label for="password">Password</label>
    <input name="password" id="password" type="password"><br>
    {% if login_data['error'] %}
    <p>{{ login_data['error'] }}</p>
    {% endif %}
    <input name="sign_in" type="submit" title="Sign In">
</form>
<h5>Don't have an account yet? <a href="/signup/">Sign up!</a></h5>
</div>

{% endblock %}