{% extends 'base_with_nav.html' %}


{% block body %}
    <div class = "backingBox">
        <h1 class = "center" class = "underline"> {{ polls_dict["Question"] }}</h1>
        <br>
        <div>
            {% for choice in polls_dict["Votes"] %}
            <label for = {{choice}} class = "radio">
            <input type = "radio" name = "choices" id = {{choice}} class = "radio__input">
            <div class = "radio__radio"></div>
                <p>{{choice}}</p>
            </label><br>
            {% endfor %}

        </div>
    </div>
{% endblock %}